.header {
    padding: 1px;
    text-align: left;
    background: #ff4901;
    color: white;
    font-size: 10px;
  }
.header a{
      text-decoration: none;
      color: white;
      font-size: 20px;
      font-family: 'Ubuntu', sans-serif;
      list-style: none;
      padding: 26px 30px;
      width: 70%; 
  }
.header samp{
      color: white;
      font-size: 30px; 
  }
  
.header a:hover{ 
    color: rgb(197, 194, 194);
  }
  
:root{
    --primary :rgb(255, 230, 0);
    --secondary:rgb(255, 60, 0);
  }
  
.nolb{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
    height: 50px;
    width: 100px;
    background: linear-gradient(135deg, var(--primary),var(--secondary));
    border-radius: 8px;
}


.winbtn{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
    height: 50px;
    width: px;
    background: linear-gradient(135deg, var(--primary),var(--secondary));
    border-radius: 8px;
}
.dfwh p{
    text-align:center;
    color: black;
    font-size: 40px;
    background: linear-gradient(135deg, var(--primary),var(--secondary));
}
.amh{
    font-size: 24px;
}







.firstSection{
    height: 100vh;
  }
  
  
.heading{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
.cimg{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
.text-big{
    font-size: 41px;
    text-align: center;
  }
  
.text-small{
    font-size: 18px;
    text-align: center;
  }
.buttons{
    text-align: center;
    padding: 6px 10px;
    font-size: 16px;
    height: 50px;
    width: 100px;
    border-radius: 8px;
}
  
.btn{
    background: linear-gradient(135deg, var(--primary),var(--secondary));
}
  
.container {
    padding: 2px 16px;
}
.left {
    position: absolute;
    left: 0px;
    width: 300px;
    padding: 10px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('../assats/bg3.png');
    background-size: cover;
    height: 90vh;
  }
  
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
  }




.dflh p{
    text-align:center;
    color: black;
    font-size: 40px;
    background: linear-gradient(135deg, var(--primary),var(--secondary));
}

.dfmh p{
    text-align:center;
    color: black;
    font-size: 40px;
    background: linear-gradient(135deg, var(--primary),var(--secondary));

}
